<div class="footer" id="footer">
	<div class="footer-wrapper">
		<p>
			Cytosplore Viewer is being developed in close collaboration between the
			<a href="https://www.alleninstitute.org/what-we-do/brain-science" target="new">Allen Institute for Brain Science</a>, the
			<a href="https://www.lcbc.nl" target="new">Leiden Computational Biology Center</a>, the
			<a href="https://www.lumc.nl/org/radiologie/research/LKEB/" target="new">Division of Image Processing</a>
			at the <a href="https://www.lumc.nl" target="new">Leiden University Medical Center</a>, and the
			<a href="https://graphics.tudelft.nl" target="new">Computer Graphics and Visualization Group</a>
			at the <a href="https://www.tudelft.nl" target="new">TU Delft</a>.
			Data displayed in this viewer was downloaded and adapted from the
			<a href="http://celltypes.brain-map.org/" target="new">Allen Cell Types Database</a>.
		</p>
		<div class="techno-images">
			<a href="https://www.tudelft.nl" target="new"><img src="/assets/images/tu.png" alt="Tu Delft" class="techno-img" /></a>
			<a href="https://www.nwo.nl" target="new"><img src="/assets/images/nwo.png" alt="NWO" class="techno-img" /></a>
			<a href="https://www.lumc.nl" target="new"><img src="/assets/images/lumc.png" alt="LUMC" class="techno-img" /></a>
		</div>
	</div>
</div>
<script type='text/javascript' src='/assets/js/jquery.js'></script>
<script type='text/javascript' src='/assets/js/lity.min.js'></script>
<script type='text/javascript' src='/assets/js/scripts.js'></script>
