<hr />

<div class="get" id="get">
	<div class="content-wrapper">
		<h1>Get Cytosplore Viewer</h1>
		<div class="section">
			<p>
				Disclaimer: Cytosplore Viewer is a research project between TU Delft and Leiden University
				Medical Center.
				We do our best to provide support but cannot guarantee it.
				If you have any suggestions, problems, want to share your success stories or papers published
				using Cytosplore Viewer, we would love to get feedback! Please do not hesitate to <a
					href="mailto:viewer@cytosplore.org">get in touch</a>.
			</p>
			<p>
				Cytosplore Viewer is free to use.
				Users should adhere to the Allen Institutes <a href="https://alleninstitute.org/legal/terms-use/"
					target="_blank">data terms of use</a> and
				<a href="https://alleninstitute.org/legal/citation-policy/" target="_blank">citation policy</a>.
				If you use Cytosplore Viewer within the scope of a scientific article you must cite the original
				publications:
				<br />
					N.L. Jorstad et al. <span class="middle-blue"> Comparative transcriptomics reveals
						human-specific cortical features </span>, <em>BioRxiv</em>, 2022
					<br />
					S. Basu et al. <span class="middle-blue">Cytosplore Simian Viewer: Visual Exploration for
						Multi-Species Single-Cell RNA Sequencing Data</span>, <em>VCBM2023</em>, 2023
					<br />
					Bakken et al. <span class="middle-blue">Comparative cellular analysis of motor cortex in
						human, marmoset and mouse</span>, <em>Nature</em>, 2021.
					<br />
					Hodge, Bakken, et al. <span class="middle-blue">Conserved Cell Types With Divergent Features
						in Human Versus Mouse Cortex</span>, <em>Nature</em>, 2019.
					<br />
					B. Tasic et al. <span class="middle-blue">Shared and Distinct Transcriptomic Cell Types
						Across Neocortical Areas</span>, <em>Nature</em>, 2018.
			</p>

			<p style="display: flex; justify-content: center">
				<button class="btn-download-os" id="download-bt">
					<font size="+2"> <i class="fab fa-windows"></i></font> <a
						href="https://sec.lumc.nl/mtg-viewer/viewer/win/3.4.0/install_cytosplore_viewer.exe"><b>Download
							Cytosplore Viewer for Windows </b></a>
				</button>
			</p>

			<p class="centered">
				<a href="https://sec.lumc.nl/mtg-viewer/viewer/win/SV/install_cytosplore_simian_viewer_offline.exe"
					target="_blank">
					<i class="fas fa-download"> Download Cytosplore Simian Viewer for Windows</i>
				</a>
			</p>

			<p class="centered">
				For other operating systems or older versions please see the <a href="/documentation/releases">
					release archive</a>.
			</p>

		</div>
	</div>
</div>