<hr />
<div class="get" id="get">
    <div class="content-wrapper">
        <h1>Get Cytosplore Viewer</h1>
        <div class="section">
            <p>
                Disclaimer: Cytosplore Viewer is a research project between TU Delft and Leiden University Medical Center.
                We do our best to provide support but cannot guarantee it.
                If you have any suggestions, problems, want to share your success stories or papers published using Cytosplore Viewer, we would love to get feedback! Please do not hesitate to <a href="mailto:viewer@cytosplore.org">get in touch</a>.
            </p>
            <p>
                Cytosplore Viewer is free to use.
                Users should adhere to the Allen Institutes <a href="https://alleninstitute.org/legal/terms-use/" target="_blank">data terms of use</a> and
                <a href="https://alleninstitute.org/legal/citation-policy/" target="_blank">citation policy</a>.
                If you use Cytosplore Viewer within the scope of a scientific article you must cite the original publications.
            </p>
            <p class="centered" style="margin-bottom: 10px;">
                <span>Download Installers:</span>
            </p>
            <div class="download-buttons">
                <a class="btn-download-os" id="download-cv">
                    <!-- Content will be set by JavaScript -->
                </a>
                <a class="btn-download-os" id="download-sv">
                    <!-- Content will be set by JavaScript -->
                </a>
                <a class="btn-download-os" id="download-ev">
                    <!-- Content will be set by JavaScript -->
                </a>
            </div>
            <p class="centered">
                For other operating systems or older versions please see the <a href="/documentation/releases">release archive</a>.
            </p>
        </div>
    </div>
</div>