<hr />
<div class="get" id="get">
  <div class="content-wrapper">
    <h1>Get Cytosplore Viewer</h1>
    <div class="section">
      <p>
        Disclaimer: Cytosplore Viewer is a collaborative research project
        between TU Delft and Leiden University Medical Center. While we strive
        to provide support, we cannot guarantee it. If you have any suggestions,
        encounter any issues, or wish to share your success stories or
        publications using Cytosplore Viewer, we would greatly appreciate your
        feedback. Please do not hesitate to
        <a href="mailto:viewer@cytosplore.org">get in touch</a>.
      </p>
      <p>
        Cytosplore Viewer is free to use. Users are expected to comply with the
        Allen Institute's
        <a href="https://alleninstitute.org/legal/terms-use/" target="_blank"
          >data terms of use</a
        >
        and
        <a
          href="https://alleninstitute.org/legal/citation-policy/"
          target="_blank"
          >citation policy</a
        >. If you use Cytosplore Viewer in the context of a scientific
        publication, you must cite the original publications.
      </p>

      <div class="viewer-option-container">
        <div class="viewer-option" id="get-Manivault-cytosplore-installer">
          <div class="download-buttons">
            <a class="btn-download-os" id="download-combined">
              <!-- Content will be set by JavaScript -->
            </a>
          </div>
        </div>
      </div>

      <p class="release-archive-link">
        For other operating systems or older versions, see the
        <a href="/documentation/releases">&nbsp;release&nbsp;archive</a>.
      </p>
    </div>
  </div>
</div>
