<div class="nav-container">
  <div class="nav-background"></div>
  <div id="nav-hamburger"><a id="nav-toggle"><span></span></a></div>
  <div class="nav-menu" id="nav-full">
    <nav>
      <ul>
        <li><a href="/#teaser" class="nav-item"><img id="header_logo" src="/assets/images/header_logo-viewer.png" alt="Cytosplore Logo">Viewer</a><div id="nav-cytosplore"></div></li>
        <!--li><a href="/#team" class="nav-item">Team</a><div id="nav-team"></div></li-->
        <!--li><a href="/#publications" class="nav-item">Publications</a><div id="nav-publications"></div></li-->
        <li><a href="/#get" class="nav-item">Download</a><div id="nav-download"></div></li>
        <li><a href="/documentation" class="nav-item">Help</a><div id="nav-documentation"></div></li>
		<li><div class="dropdown">
			<span>Other Cytosplores</span>
			<div class="dropdown-content">
			<a href="https://www.cytosplore.org"><img id="header_logo" src="/assets/images/header_logo.png" alt="Cytosplore for CyTOF Logo">Cytosplore (for CyTOF)<span id="go-to-cytosplore-label"></span></a>
			<a href="https://transcriptomics.cytosplore.org"><img id="header_logo" src="/assets/images/header_logo-viewer.png" alt="Cytosplore Transcriptomics Logo">Cytosplore Transcriptomics<span id="go-to-transcriptomics-label"></span></a>
			</div>
		</div></li>
      </ul>
    </nav>
  </div>
</div>
