<div class="teaser-container" id="teaser">
	<div class="image-container" id="header-image">
		<img src="/assets/images/cytosplore-viewer.png" alt="Cytosplore Viewer Logo" id="cytosplore-logo" />
	</div>
</div>

<hr />

<div class="cytosplore" id="cytosplore">

	<div class="content-wrapper">
		<h1>Cytosplore Viewer</h1>
		<div class="section">
			<p>
				Cytosplore Viewer is an interactive visual analysis system for the exploration of single cell data
				published in the <a href="http://celltypes.brain-map.org/" target="new">Allen Cell Types Database</a>
				and for a number of the single cell data resources of the <a href=" https://www.biccn.org"> Brain
					Initiative Cell Census Network (BICCN)</a>, and the Brain Initiative Cell Atlas Network (BICAN).
				<BR />
				<BR />
				Currently supported datasets include the October 2019 data releases in the Allen Cell Types Database of
				the Allen Institute for Brain Science: nuclear sequencing data of several areas of the human cortex, and
				single cell sequencing data of the mouse cortex and hippocampus.
				<BR />
				<BR />
				Also supported are special modes for:
				<UL>
					<LI> cross-species comparison of cell types in the motor cortex between human, marmoset and mouse of
						BICCN (see <i>Comparative cellular analysis of motor cortex in human, marmoset, and mouse</i>
						below). </LI>
					<LI> comparing different spatial transcriptomics techniques of the SpaceTx Consortium (see <i>
							SpaceTx: A Roadmap for Benchmarking Spatial Transcriptomics Exploration of the Brain</i>
						below). </LI>
				</UL>
				<BR />
				Cytosplore Viewer allows an interactive exploration of hierarchies of cell types. One can visualize
				transcriptome-wide gene expression in combination with metadata of individual cells, perform
				differential analyses and statistics between manual selections of cells, or between pre-defined clusters
				throughout the cellular hierarchy and more.
				Cytosplore Viewer is based on <a href="https://www.cytosplore.org"
					style="color:rgb(90,50,90);">Cytosplore</a> and provides many of the analysis tools presented in the
				<a href="https://www.cytosplore.org/#publications" style="color:rgb(90,50,90);">previous Cytosplore
					publications</a>.
				<BR />
				<BR />

				<em>To gain insights into the cell type and gene expression differences and similarities between humans
					and 4 different species of primates there is now a special version:</em>
				<a href="#simian-pub" style="color:rgb(90,50,90);"> Cytosplore Simian Viewer </a>.
			</p>
			<p class="download-p">
				<a href="#get"><img src="/assets/images/to-download-viewer.png" alt="Download" id="download-top"></a>
			</p>
		</div>
		<div class="section">
			<iframe id="actionvideo" src="https://player.vimeo.com/video/273182940?byline=0&amp;portrait=0" width="80%"
				frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	</div>
</div>







		