<div class="teaser-container" id="teaser">
	<div class="image-container" id="header-image">
		<img src="/assets/images/cytosplore-mtg.png" alt="Cytosplore MTG Logo" id="cytosplore-logo">
	</div>
</div>

<hr>

<div class="cytosplore" id="cytosplore">
	<div class="content-wrapper">
		<h1>Cytosplore MTG Viewer</h1>
		<div class="section">
			<p><b>TODO: Check if you want to extend this</b>
				Cytosplore MTG Viewer is an interactive visual analysis system for the exploration of single cell data gathered from nuclear sequencing of the human Medial Temporal Gyrus (MTG).
				It allows to interactively explore the cellular hierarchy of the human MTG cell types data that was presented in the recent publication by the Allen Institute for Brain Science.
				Cytosplore MTG Viewer is based on <a href="https://www.cytosplore.org" style="color:rgb(90,50,90);">Cytosplore</a> and provides many of the analysis tools presented in the <a href="https://www.cytosplore.org/#publications">previous Cytosplore publications</a>.
				In addition, Cytosplore MTG Viewer allows differential analysis of selected cell groups.
				<a href="#get">Try Cytosplore MTG Viewer</a> yourself!
			</p>
			<p>
					<a href="#get"><img src="/assets/images/to-download-mtg.png" alt="Download" id="download-top"></a>
			</p>
		</div>
		<b>TODO: Change this to the intro video</b>
		<div class="section">
  		<iframe id="actionvideo" src="https://player.vimeo.com/video/205552113?byline=0&amp;portrait=0" width="80%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
		</div>
	</div>
</div>

<hr/>

<div class="cytosplore" id="team">
	<div class="content-wrapper">
		<h1>Team</h1>
		<div class="section">
		<br/>
			<b>TODO: Check</b>
			<div id="portrait-container">

				<a href="https://www.lumc.nl/org/radiologie/medewerkers/1201120319322222" target="_blank">
				<div class="portrait" id="portrait-je">
						<span class="popover above">
						<span class="portrait-name">
							Jeroen Eggermont
						</span><hr>
						<span class="portrait-text">
							LUMC <br/> Development
						</span>
						</span>
					</div>
				</a>

				<a href="#team" target="_blank_">
					<div class="portrait" id="portrait-bvl">
						<span class="popover above">
						<span class="portrait-name">
							Baldur van Lew
						</span><hr>
						<span class="portrait-text">
							LUMC <br/> Development
						</span>
						</span>
					</div>
				</a>

				<a href="#team" target="_blank">
				<div class="portrait" id="portrait-am">
						<span class="popover above">
						<span class="portrait-name">
							Ahmed Mahfouz
						</span><hr>
						<span class="portrait-text">
							LUMC <br/> Computational Biology
						</span>
						</span>
					</div>
				</a>

				<a href="https://graphics.tudelft.nl/anna-vilanova" target="_blank">
				<div class="portrait" id="portrait-av">
						<span class="popover above">
						<span class="portrait-name">
							Anna Vilanova
						</span><hr>
						<span class="portrait-text">
							TU Delft <br/> PI VAnPIRe
						</span>
						</span>
					</div>
				</a>

				<a href="http://www.thomashollt.com" target="_blank_">
					<div class="portrait" id="portrait-th">
						<span class="popover above">
						<span class="portrait-name">
							Thomas H&ouml;llt
						</span><hr>
						<span class="portrait-text">
							TU Delft / LUMC <br/> Project Lead Cytosplore
						</span>
						</span>
					</div>
				</a>

				<a href="https://www.lumc.nl/org/radiologie/medewerkers/1008040000252222" target="_blank">
				<div class="portrait" id="portrait-bl">
						<span class="popover above">
						<span class="portrait-name">
							Boudewijn P.F. Lelieveldt
						</span><hr>
						<span class="portrait-text">
							LUMC <br/> PI LKEB
						</span>
						</span>
					</div>
				</a>

				<span class="stretch"></span>
			</div>
			<p>
				Cytosplore MTG Viewer is being developed in close collaboration between the Allen Institute for Brain Science,
				the Division of Image Processing and the Computational Biology Center at Leiden University Medical Center, and the Computer Graphics and Visualization Group at the TU Delft, the Netherlands.
				Data displayed in this viewer is available from the <a href="http://celltypes.brain-map.org/" target="_blank">Allen Cell Types Database</a> (© 2015 Allen Institute for Brain Science).
			</p>
		</div>
	</div>
</div>

<hr>

<div class="publications" id="publications">
	<div class="content-wrapper">
		<h1>Publications</h1>
		<div class="section">
<b>TODO: Change this to allen paper</b>
		<div class="paper">
			<div class="paper-image">
				<a href="https://vimeo.com/205552113" class="lightbox" target="_blank"><img src="/assets/papers/cytosplorehsne.jpg" alt="Cytosplore+HSNE" class="paper-img left"></a>
			</div>
			<h3><span class="title">Visual Analysis of Mass Cytometry Data by Hierarchical Stochastic Neighbor Embedding Reveals Rare Cell Types.</span>
		<span class="authors">V. van Unen, T, Höllt, N. Pezzotti, N. Li, M. Reinders, E. Eisemann, A. Vilanova, F. Koning, and B. Lelieveldt.</span>
				Nature Communications, 2017.</h3>
			<div class="section" class="abstract">
				<p><b>Abstract:</b>
        In this work, we present Cytosplore+HSNE. HSNE constructs a hierarchy of non-linear similarities that can be interactively explored with a stepwise increase in detail up to the single-cell level. We applied HSNE to several available mass cytometry datasets. We found that HSNE efficiently replicates previous observations and identifies rare cell populations that were previously missed due to downsampling in a fraction of the time.</p>
			</div>
			<div class="paper-links">
				<div class="paper-link">
					<a href="https://www.lcbc.nl/assets/papers/2017_hsne_preprint/2017_hsne.pdf" target="_blank">
						<img src="/assets/images/pdf.png" alt="" class="paper-link-img">
					</a>
				</div>
				<div class="paper-link">
					<a href="http://dx.doi.org/10.1038/s41467-017-01689-9" target="_blank">
						<img src="/assets/images/ieee.png" alt="" class="paper-link-img">
					</a>
				</div>
			</div>
			<br style="clear:left;">
		</div>

	</div>
	</div>
</div>

<hr>

<div class="get" id="get">
	<div class="content-wrapper">
		<h1>Get Cytosplore MTG Viewer</h1>
		<div class="section">
			<p><b>TODO: Adapted from the Cytosplore site. Check if this is what we like for the MTG Viewer</b>
				Disclaimer: Cytosplore MTG Viewer is a research project between TU Delft and Leiden University Medical Center. It is not a commercial software product and not licensed for clinical use. We do our best to provide support in our free time but cannot guarantee it.
				If you have any suggestions, problems, want to share your success stories or papers published using Cytosplore MTG Viewer, we would love to get feedback! Please do not hesitate to <a href="mailto:viewer@cytosplore.org">get in touch</a>.
  			<br/>
				Cytosplore MTG Viewer is free for academic and non-commercial use, however, if you use Cytosplore MTG Viewer within the scope of a scientific article you must cite the original publications:
				<br/><br/><b>TODO: Change this to allen paper</b>
			  T. Höllt, N. Pezzotti, V. van Unen, F. Koning, E. Eisemann, B. Lelieveldt, and A. Vilanova. <span class="middle-blue">Cytosplore: Interactive Immune Cell Phenotyping for Large Single-Cell Datasets.</span> <em>Computer Graphics Forum (Proceedings of EuroVis),</em> 35(3): pp. 171—180, 2016.
    </p>
			<p>
				<a href=""><img src="/assets/images/download-mtg.png" alt="Download" target="_blank" id="download-top"></a>
			</p>
		</div>
	</div>
</div>
