<hr class="projects-hr" />

<div class="cytosplore" id="projects">
  <div class="content-wrapper">
    <div class="section">
      <p>
        The size and complexity of data in the BICAN ecosystem necessitates
        presenting the data in a manner that a user can generate overview
        visualizations of the whole dataset, but also enables “detail on demand”
        data views based on individual user exploration trajectories across
        multimodal data. While web-based platforms provide enterprise scale data
        hosting and overview visualization, they offer limited functionality for
        fast, interactive visual exploration that requires on-the-fly local
        compute across multiple datasets. Cytosplore Viewer leverages fast local
        compute and compressed data access for the linked exploration of
        multi-modal spatial and single cell datasets. Specific focus is to
        complement the BKP functionality with low-level detail analyses across
        multiple datasets.
      </p>
      <br />
      <div class="projects-grid" id="projects-container"></div>
    </div>
  </div>
</div>

<head>
  <link
    rel="preload"
    href="/assets/css/fontawesome-all.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <link
    rel="preload"
    href="/assets/css/style-viewer.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <link
    rel="preload"
    href="/assets/css/style-projects.css"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link rel="stylesheet" href="/assets/css/fontawesome-all.css" />
    <link rel="stylesheet" href="/assets/css/style-viewer.css" />
    <link rel="stylesheet" href="/assets/css/style-projects.css" />
  </noscript>
</head>

<script src="/assets/js/projects.js" defer></script>
