<hr />
<div class="cytosplore" id="team">
	<div class="content-wrapper">
		<h1>Team</h1>
		<div class="section">
			<br />
			<div id="portrait-container">

				<a href="https://lkeb.lumc.nl/portfolio/jeroen-eggermont/" target="_blank">
					<div class="portrait" id="portrait-je">
						<span class="popover above">
							<span class="portrait-name">
								Jeroen Eggermont
							</span>
							<hr />
							<span class="portrait-text">
								LUMC <br /> Development
							</span>
						</span>
					</div>
				</a>

				<a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/computer-graphics-and-visualization/people/soumyadeep-basu" target="_blank">
					<div class="portrait" id="portrait-sb">
						<span class="popover above">
							<span class="portrait-name">
								Soumyadeep Basu
							</span>
							<hr />
							<span class="portrait-text">
								LUMC <br /> Development
							</span>
						</span>
					</div>
				</a>

				<a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/computer-graphics-and-visualization/people/thomas-kroes" target="_blank">
					<div class="portrait" id="portrait-tk">
						<span class="popover above">
							<span class="portrait-name">
								Thomas Kroes
							</span>
							<hr />
							<span class="portrait-text">
								LUMC <br /> Development
							</span>
						</span>
					</div>
				</a>

				<a href="https://lkeb.lumc.nl/portfolio/baldur-van-lew/"  target="_blank">
					<div class="portrait" id="portrait-bvl">
						<span class="popover above">
							<span class="portrait-name">
								Baldur van Lew
							</span>
							<hr />
							<span class="portrait-text">
								LUMC <br /> Development
							</span>
						</span>
					</div>
				</a>
<!---
				<a href="https://nicola17.github.io" target="_blank">
					<div class="portrait" id="portrait-np">
						<span class="popover above">
							<span class="portrait-name">
								Nicola Pezzotti
							</span>
							<hr />
							<span class="portrait-text">
								TU Delft <br /> Algorithms Research
							</span>
						</span>
					</div>
				</a>
-->
				<a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/computer-graphics-and-visualization/people/anna-vilanova" target="_blank">
					<div class="portrait" id="portrait-av">
						<span class="popover above">
							<span class="portrait-name">
								Anna Vilanova
							</span>
							<hr />
							<span class="portrait-text">
								TU Delft <br /> PI VAnPIRe
							</span>
						</span>
					</div>
				</a>

				<a href="http://www.thomashollt.com" target="_blank_">
					<div class="portrait" id="portrait-th">
						<span class="popover above">
							<span class="portrait-name">
								Thomas H&ouml;llt
							</span>
							<hr>
							<span class="portrait-text">
								TU Delft / LUMC <br /> Project Lead Cytosplore
							</span>
						</span>
					</div>
				</a>

				<a href="https://www.universiteitleiden.nl/en/staffmembers/boudewijn-lelieveldt" target="_blank">
					<div class="portrait" id="portrait-bl">
						<span class="popover above">
							<span class="portrait-name">
								Boudewijn P.F. Lelieveldt
							</span>
							<hr />
							<span class="portrait-text">
								LUMC <br /> PI LKEB
							</span>
						</span>
					</div>
				</a>

				<span class="stretch"></span>
			</div>
			<p>
				Cytosplore Viewer is being developed by a team consisting of members from the
				Leiden Computational Biology Center, the
				<a href="https://www.lumc.nl/org/radiologie/research/LKEB/" target="new">Division of Image
					Processing</a>
				at the <a href="https://www.lumc.nl" target="new">Leiden University Medical Center</a>, and the
				<a href="https://graphics.tudelft.nl" target="new">Computer Graphics and Visualization Group</a>
				at the <a href="https://www.tudelft.nl" target="new">TU Delft</a>
				in a research project, carried out in close collaboration with
				<a href="http://www.alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/trygve-bakken/"
					target="new">Trygve Bakken</a>,
				<a href="http://www.alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/jeremy-miller/"
					target="new">Jeremy Miller</a>,
					<a href="https://alleninstitute.org/person/brian-long/"
					target="new">Brian Long</a>,
					Nik L. Jorstad,
				<a href="http://www.alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/rebecca-hodge/"
					target="new">Rebecca Hodge</a>,
				<a href="http://www.alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/bosiljka-tasic/"
					target="new">Bosiljka Tasic</a>,
				<a href="http://www.alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/zizhen-yao/"
					target="new">Zizhen Yao</a>,
					<a href="https://alleninstitute.org/person/lucas-t-graybuck/"
					target="new">Lucas T. Graybuck</a>,
				<a href="http://www.alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/hongkui-zeng/"
					target="new"> Hongkui Zeng</a>,
				<a href="http://www.alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/michael-hawrylycz/"
					target="new">Mike Hawrylycz </a>, and
				<a href="http://www.alleninstitute.org/what-we-do/brain-science/about/team/staff-profiles/ed-lein/"
					target="new">Ed Lein</a>
				from the
				<a href="https://www.alleninstitute.org/what-we-do/brain-science" target="new">Allen Institute for Brain
					Science</a>.

				<p>
					This work was partially supported by an NWO Gravitation grant:<a href="https://brainscapes.nl"
						target="new">BRAINSCAPES</a>: A Roadmap from Neurogenetics to Neurobiology (NWO: 024.004.012)
					and <a href="https://www.nwo.nl" target="new">NWO AES</a> grants 3DOMICS (NWO: 17126), VANPIRE (NWO: 12720) and Genes in Space (NWO: 12721).
				</p>

			</p>
		</div>
	</div>
</div>