a,
a:visited {
  color: rgb(50, 110, 170);
}

.middle-blue,
em {
  color: rgb(50, 110, 170);
  font-weight: 400;
  text-decoration: none;
}

.nav-item:hover,
.nav-item.active {
  color: rgb(50, 110, 170);
  align: left;
  text-align: left;
}

.nav-active-indicator {
  color: rgb(50, 110, 170);
  background-color: rgb(50, 110, 170);
}

.portrait {
  border: 2.5px solid rgb(50, 110, 170);
}

.portrait-name {
  color: rgb(50, 110, 170);
}

.portrait-text {
  color: rgb(50, 110, 170);
}

.portrait .popover {
  border: 0.5px solid rgba(50, 110, 170, 0.15);
}

.portrait hr {
  color: rgba(50, 110, 170, 0.25);
  background-color: rgba(50, 110, 170, 0.25);
}

#submitbt {
  background-color: rgb(50, 110, 170);
}

input[type="checkbox"] {
  background-color: rgb(50, 110, 170);
}

#nav-toggle span {
  position: absolute;
  left: 10px;
  top: 25px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  background: rgb(50, 110, 170);
}

#cytosplore-logo {
  margin-bottom: -30px;
}

.paper-link a {
  color: #222;
}

.paper-link:hover,
.paper-link a:hover {
  color: rgb(50, 110, 170);
}

.nav-toggled {
  height: 280px;
}

.portrait {
  width: 80px;
  height: 80px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80px 80px;
}
@media only screen and (max-width: 440px) {
  .portrait {
    width: 60px;
    height: 60px;
    margin: 7px 7px;
    background-size: 60px 60px;
  }
}

@media only screen and (min-width: 440px) {
  .portrait {
    margin: 5px 5px;
  }
}

@media only screen and (min-width: 550px) {
  .portrait {
    margin: 10px 15px;
  }
}

@media only screen and (min-width: 710px) {
  .portrait {
    margin: 10px 25px;
  }
}

@media only screen and (min-width: 860px) {
  .portrait {
    margin: 10px 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .portrait {
    margin: 10px 10px;
  }
}

pre {
  display: block;
  word-break: break-all;
  word-wrap: break-word;
  width: 100%;
  background-color: rgba(240, 240, 240, 0.5);
  outline: 1px solid #ccc;
  padding: 15px;
  overflow: auto;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre,
xmp,
plaintext,
listing {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px;
}

.paper-img {
  box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, 0.25);
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 200;
  color: #666;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 400px;
  text-align: left;
  font-size: 1em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  /*color: black;
  padding: 4px 5px;*/
  text-decoration: none;
  display: block;
  font-size: 1em;
  text-decoration: none;
  font-weight: 200;
  color: #666;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover {
  background-color: #f1f1f1;
}
.btn-download-os {
  margin-top: 24px;
  background: linear-gradient(to right, #4689c4, #123e6c);
  padding: 14px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  display: block;
  line-height: 24px;
  opacity: 0.9;
}
.btn-download-os a {
  text-decoration: none;
  color: white;
}
.icon {
  padding-left: 10px;
}
.btn-download-os:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  opacity: 1;
}
.disabled-button {
  background: linear-gradient(to right, #ccc, #ddd) !important;
  pointer-events: none !important;
}

#download-available {
  width: 220px;
  padding-top: 30px;
  margin-left: auto;
}

hrshort {
  border: 0;
  width: 25%;
  color: #ddd;
  background-color: #ddd;
  height: 1px;
  margin-bottom: -15px;
}
