a, a:visited{
	color: rgb(50, 110, 170);
}

.middle-blue, em{
	color: rgb(50, 110, 170);
	font-weight:400;
	text-decoration: none;
}

.nav-item:hover, .nav-item.active{
	color: rgb(50, 110, 170);
}

.nav-active-indicator{
	color: rgb(50, 110, 170);
  background-color: rgb(50, 110, 170);
}

.portrait {
    border: 2.5px solid rgb(50, 110, 170);
}

.portrait-name{
	color: rgb(50, 110, 170);
}

.portrait-text{
	color: rgb(50, 110, 170);
}

.portrait .popover {
  border: 0.5px solid rgba(50, 110, 170, 0.15);
}

.portrait hr{
	color: rgba(50, 110, 170, 0.25);
	background-color: rgba(50, 110, 170, 0.25);
}

#submitbt {
    background-color: rgb(50, 110, 170);
}

input[type=checkbox] {
    background-color: rgb(50, 110, 170);
}

#nav-toggle span { position: absolute; left: 10px; top: 25px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	background: rgb(50, 110, 170);
}

#cytosplore-logo{
  margin-bottom: -30px;
}

.paper-link a{
	color: #222;
}

.paper-link:hover, .paper-link a:hover{
	color: rgb(50, 110, 170);
}

.nav-toggled {
  height: 280px;
}

#portrait-bvl{
  background: url(../images/team/bvl.png) no-repeat;
  background-size: 80px 80px
}

#portrait-am{
  background: url(../images/team/am.jpg) no-repeat;
  background-size: 80px 80px
}

pre {
	display: block;
	word-break: break-all;
	word-wrap: break-word;
	width: 100%;
	background-color: rgba(240, 240, 240, 0.5);
	outline: 1px solid #ccc;
	padding: 15px;
	overflow: auto;
}

code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}
