a, a:visited{
	color: rgb(50, 110, 170);
}

.middle-blue, em{
	color: rgb(50, 110, 170);
	font-weight:400;
	text-decoration: none;
}

.nav-item:hover, .nav-item.active{
	color: rgb(50, 110, 170);
}

.nav-active-indicator{
	color: rgb(50, 110, 170);
  background-color: rgb(50, 110, 170);
}

.portrait {
    border: 2.5px solid rgb(50, 110, 170);
}

.portrait-name{
	color: rgb(50, 110, 170);
}

.portrait-text{
	color: rgb(50, 110, 170);
}

.portrait .popover {
  border: 0.5px solid rgba(50, 110, 170, 0.15);
}

.portrait hr{
	color: rgba(50, 110, 170, 0.25);
	background-color: rgba(50, 110, 170, 0.25);
}

#submitbt {
    background-color: rgb(50, 110, 170);
}

input[type=checkbox] {
    background-color: rgb(50, 110, 170);
}

#nav-toggle span { position: absolute; left: 10px; top: 25px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	background: rgb(50, 110, 170);
}

#cytosplore-logo{
  margin-bottom: -30px;
}

.paper-link a{
	color: #222;
}

.paper-link:hover, .paper-link a:hover{
	color: rgb(50, 110, 170);
}

.nav-toggled {
  height: 280px;
}

#portrait-bvl{
  background: url(../images/team/bvl.png) no-repeat;
  background-size: 80px 80px
}

#portrait-am{
  background: url(../images/team/am.jpg) no-repeat;
  background-size: 80px 80px
}

#portrait-el{
  background: url(../images/team/el.png) no-repeat;
  background-size: 80px 80px
}

#portrait-jm{
  background: url(../images/team/jm.png) no-repeat;
  background-size: 80px 80px
}

#portrait-tb{
  background: url(../images/team/tb.png) no-repeat;
  background-size: 80px 80px
}

#portrait-rh{
  background: url(../images/team/rh.png) no-repeat;
  background-size: 80px 80px
}

@media only screen and (max-width : 440px){
  .portrait {
    width: 60px;
    height: 60px;
    margin: 7px 7px;
    background-size: 60px 60px;
  }
  #portrait-th{
    background-size: 70px 70px;
  }

  #portrait-np{
    background: url(../images/team/np.jpg) no-repeat;
    background-size: 62px 62px;
  }

  #portrait-av{
    background-size: 60px 60px;
  }

  #portrait-je{
    background-size: 60px 60px;
  }

  #portrait-bl{
    background-size: 60px 60px;
  }

  #portrait-am{
    background-size: 60px 60px;
  }

  #portrait-bvl{
    background-size: 60px 60px;
  }
}

@media only screen and (min-width : 440px){
  .portrait { margin: 5px 5px; }
}

@media only screen and (min-width : 550px){
  .portrait { margin: 10px 15px; }
}

@media only screen and (min-width : 710px){
  .portrait { margin: 10px 25px; }
}

@media only screen and (min-width : 860px){
  .portrait { margin: 10px 40px; }
}

@media only screen and (min-width : 1024px){
  .portrait { margin: 10px 10px; }
}

pre {
	display: block;
	word-break: break-all;
	word-wrap: break-word;
	width: 100%;
	background-color: rgba(240, 240, 240, 0.5);
	outline: 1px solid #ccc;
	padding: 15px;
	overflow: auto;
}

code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

pre, xmp, plaintext, listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0px;
}

.paper-img {
    box-shadow: 0px 0px 3px 1px rgba(10, 10, 10, 0.25);
}
