.paper {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 15px;
}

.paper:last-child {
  border-bottom: none;
}

.paper-content-wrapper {
  overflow: hidden;
  position: relative;
}

.paper-image {
  width: 35%;
  margin-bottom: 15px;
}

.paper-image.left {
  float: left;
}

.paper-image.right {
  float: right;
}

.paper-img {
  width: 380px;
  height: 100%;
  object-fit: contain;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.paper h3 {
  margin: 0 0 5px 0;
  font-size: 18px;
  line-height: 1.3;
}

.paper-metadata {
  font-size: 16px;
  color: #555;
  margin: 3px 0 3px 0; /* Further reduce top and bottom margins */
  line-height: 1.4; /* Slightly reduce line height */
}

.paper-metadata a {
  color: rgb(50, 110, 170);
  text-decoration: none;
  font-size: inherit; /* Inherit size from .paper-metadata */
}

.paper-metadata a:hover {
  text-decoration: underline;
}

.paper-abstract {
  margin: 8px 0; /* Further reduce top and bottom margins */
  line-height: 1.4; /* Slightly reduce line height */
  text-align: justify;
  clear: none;
}

.paper-abstract p {
  margin: 0;
}

.abstract-short,
.abstract-full {
  display: inline;
}

.see-more {
  color: rgb(50, 110, 170);
  cursor: pointer;
  white-space: nowrap;
  margin-left: 5px;
  font-size: 16px; /* Match the size of the abstract text */
}

.see-more:hover {
  text-decoration: underline;
}

.supporting-projects {
  display: block;
  margin-top: 20px;
  clear: both;
}

.supporting-projects h4 {
  margin: 10px 0 5px 0;
  font-size: 16px;
}

.supporting-projects p {
  margin: 8px 0; /* Further reduce top and bottom margins */
  line-height: 1.4; /* Slightly reduce line height */
  text-align: justify;
}

.supporting-metadata {
  font-size: 16px; /* Match the size of the abstract text */
  color: #555;
  margin: 3px 0 3px 0; /* Reduce top and bottom margins */
  line-height: 1.4; /* Slightly reduce line height */
}

.supporting-metadata a {
  color: rgb(50, 110, 170);
  text-decoration: none;
  font-size: inherit; /* Inherit size from .supporting-metadata */
}

.supporting-metadata a:hover {
  text-decoration: underline;
}

.project-spacer {
  margin-bottom: 0;
}

.btn-download-os {
  background: linear-gradient(to right, #4689c4, #123e6c);
  color: white;
  border-radius: 4px;
  padding: 14px;
  font-size: 16px;
  display: block;
  line-height: 24px;
  opacity: 0.9;
  text-align: center;
}
.supporting-projects-container {
  margin-left: 0px;
}
.btn-download-os:hover {
  transform: scale(1.05);
  transition: all 0.5s;
  opacity: 1;
}

@media (max-width: 1200px) {
  .paper-image {
    width: 100%;
    float: none !important;
    margin: 0 0 20px 0 !important;
  }
}
